name: deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    defaults:
      run:
        shell: powershell
        working-directory: MyNewTestProject
    env:
      DEPLOY_DIR: C:\apps\MyApp
      PUBLISH_TEMP: C:\apps\MyApp\MyNewTestProject\publish
      PROJECT_DIR: C:\apps
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Restore
        run: |
          dotnet restore

      - name: Prepare publish temp directory
        run: |
          if (Test-Path $env:PUBLISH_TEMP) {
          Set-Location $env:PUBLISH_TEMP
          Get-ChildItem $PUBLISH_TEMP -Recurse -Force | Remove-Item -Recurse -Force } 
          else {
            New-Item -ItemType Directory -Force -Path $env:PUBLISH_TEMP | Out-Null
          }

      - name: Publish (Release)
        run: |
          dotnet publish MyNewTestProject.csproj -c Release -o $env:PUBLISH_TEMP

      - name: Stop previous application
        shell: powershell
        run: |
          $session = New-PSSession -ComputerName $Env:RemoteServer
          Invoke-Command -Session $session -ScriptBlock {
          Get-Service "MyWebAppService" -ErrorAction SilentlyContinue | Stop-Service
          }
          Remove-PSSession $session

      - name: Transfer files to server
        shell: powershell
        env:
           DEPLOY_DIR: ${{ env.DEPLOY_DIR }}
           PUBLISH_TEMP: ${{ env.PUBLISH_TEMP }}
           PROJECT_DIR: ${{env.PROJECT_DIR}}
        run: | 
          Write-Host "Transfering files...'"
          $session = New-PSSession -ComputerName $Env:RemoteServer
          Invoke-Command -Session $session -ScriptBlock {
          param($projectDir)

          if (Test-Path C:\apps\MyApp) {
            Remove-Item C:\apps\MyApp\* -Force -Recurse
          } else {
            New-Item -ItemType "Directory" C:\apps\MyApp -Force
          }
          
          Write-Host "Starting resource copying $ScriptPath ..."
          } -ArgumentList  ${env:PROJECT_DIR}
          Copy-Item -Path $env:DEPLOY_DIR/* -Destination $env:DEPLOY_DIR -ToSession $session -Recurse -Force
          Remove-PSSession $session

      - name: Deploy files to server
        shell: powershell
        run: |
          $session = New-PSSession -ComputerName $Env:RemoteServer
          Invoke-Command -Session $session -ScriptBlock {
          & C:\apps\deploy.ps1
          }
          Remove-PSSession $session
         
